html{
	height: 100%;
}

body {
	font-family: 'Merriweather', serif;
	text-align: center;
	padding-bottom: 3%;
	background: rgb(241,241,241);
	background: linear-gradient(90deg, rgba(241,241,241,1) 0%, rgba(147,147,147,1) 100%);
}

h1 {
	font-family: 'Beau Rivage', cursive;
	font-size: 5.5rem;
	margin: 2%;
}

.card{
	margin: 10px auto;
	width: 50%;
	background-color: rgb(210,232,221);
	cursor:  pointer;
}

.card:hover{
	background-color: #dbece3;
}

.card-title{
	font-weight: 600;
}

.bi-trash3-fill{
	color:  gray;
	cursor:  pointer;
}

.bi-trash3-fill:hover{
	color:  red;

}

.back-button{
	font-size: 3rem;
	position: fixed;
	left: 20px;
	top: 50px;
	/*color:  #5bc0de;*/
	color: grey;
	cursor: pointer;
}

.back-button:hover{
	color: #5cb85c;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: lightgrey;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 30px;
}

.new-plan-form-select{
	display: inline-block;
	text-align: center;
	width:  200px;
	margin-top: 10px;
}

.plans-search{
	width: 30%;
	display: inline-block;
	margin-top: 10px;
}

.wishlist-search{
	width: 30%;
	display: inline-block;
	margin-top: 10px;
}

.plans-table{
	width:  60%;
	margin:  auto;
	margin-top: 20px;
	cursor: pointer;
}

.plans-tr:hover{
	border: 1pt solid black;
	color: #5cb85c;
}

.plans-tr-hidden{
	display: none;
}

.wishlist-table{
	width:  60%;
	margin:  auto;
	margin-top: 20px;
	cursor: pointer;
}

.wishlist-tr:hover{
	border: 1pt solid black;
	color: #5cb85c;
}

.wishlist-tr-hidden{
	display: none;
}

form.doctors{
	margin-right: 10%;
	margin-left: 10%;
}

div.input-group{
	width:  30%;
	margin: auto;
	padding-top: 20px;
}

@media (max-width: 900px){
	.card{
		width: 80%;
	}

}